{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>
AI Resume Analyzer Dashboard
</title>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
rel="stylesheet">


<link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>


<body class="bg-light">



<!-- Navbar -->

<nav class="navbar navbar-dark bg-dark">

<div class="container">


<a class="navbar-brand fw-bold"
href="{% url 'dashboard' %}">

AI Resume Analyzer

</a>



<div>


<span class="text-white me-3">

Welcome,
{{ request.user.username }}

</span>



<a href="{% url 'upload_resume' %}"
class="btn btn-success me-2">

Upload Resume

</a>




<a href="{% url 'resume_history' %}"
class="btn btn-primary me-2">

Resume History

</a>




<a href="{% url 'logout' %}"
class="btn btn-danger">

Logout

</a>



</div>



</div>

</nav>






<div class="container mt-5">



<h2 class="text-center mb-4">

Your Resume Analysis

</h2>





{% if resumes %}



<div class="row">



{% for resume in resumes %}



<div class="col-md-6 mb-4">



<div class="card shadow h-100">



<div class="card-header bg-primary text-white">


<h4>

{{ resume.name }}

</h4>


</div>





<div class="card-body">



<p>

<strong>Email:</strong>

{{ resume.email }}

</p>





<p>

<strong>Resume:</strong>


<a href="{{ resume.resume_file.url }}"
target="_blank">

View PDF

</a>


</p>





<p>

<strong>Uploaded:</strong>

{{ resume.uploaded_at }}

</p>





<hr>





<h5>

ATS Score

</h5>




<div class="progress mb-3">


<div class="progress-bar bg-success"

style="width: {{ resume.score }}%">


{{ resume.score }}%


</div>


</div>




<h3 class="text-center text-success">

{{ resume.score }}/100

</h3>






<hr>





<h5>

Detected Skills

</h5>



{% if resume.skills %}



{% for skill in resume.skills.split %}



<span class="badge bg-info m-1">

{{ skill }}

</span>



{% endfor %}



{% else %}



<p>

No skills detected.

</p>



{% endif %}





<hr>





<a href="{% url 'resume_analysis' resume.id %}"
class="btn btn-primary me-2">

View Complete Analysis

</a>


<a href="{% url 'delete_resume' resume.id %}"
class="btn btn-danger"
onclick="return confirm('Are you sure you want to delete this resume?');">

Delete Resume

</a>





</div>


</div>



</div>



{% endfor %}



</div>



{% else %}




<div class="alert alert-warning text-center">


<h4>

No Resume Uploaded Yet

</h4>



<a href="{% url 'upload_resume' %}"

class="btn btn-success mt-3">


Upload Resume


</a>


</div>




{% endif %}



</div>







<footer class="bg-dark text-white text-center p-3 mt-5">


<h5>

AI Resume Analyzer © 2026

</h5>


<p>

Developed by

<strong>
Satti Bhanu Suma Sri
</strong>

</p>


</footer>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">

</script>



</body>

</html>